<div class="container-fluid">

    <div class="row">
        <div class="col-md-6 form-group">
            <div id="graficoTotalRegistros" dx-pie-chart="chart1Options"></div>
        </div>

        <div class="col-md-6 form-group">
            <div id="graficoTotalRemessasCartorio" dx-pie-chart="chart2Options"></div>
        </div>
    </div>

    <div class="row">
        <br/>
        <br/>
        <br/>
        <div class="form-group">
            <div id="graficoConsumoMensalPorCliente" dx-chart="chart3Options"></div>
        </div>
    </div>

    <div class="row">
        <br/>
        <br/>
        <br/>
        <div class="col-md-6 form-group">
            <div id="graficoTotalUsuariosPorCliente" dx-pie-chart="chart5Options"></div>
        </div>

        <div class="col-md-6 form-group">
            <div id="graficoTotalDevedoresPorCliente" dx-pie-chart="chart6Options"></div>
        </div>

        <div class="col-md-4 form-group">
        </div>
    </div>

    <div class="row">
        <br/>
        <br/>
        <br/>
        <div class="form-group">
            <div id="graficoConsumoMensalPorWS" dx-chart="chart4Options"></div>
        </div>
    </div>

</div>