body {
    margin: 0;
    padding: 0;
}

.fonteMenu ul li h1 {
    color: #FFF;
}

.fonteMenu ul li {
    font-size: 17px;
    line-height: 50px;
}

.imgLoading {
    display: block;
    margin: auto;
    width: 100%;
    max-width: 600px;
}

.rodapeBtn {
    position: fixed;
    z-index: 9999;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #002222;
}

.modal-content iframe {
    min-height: 300px !important;
}

.badgeMenu {
    display: inline !important;
}

.btnNovo {
    color: #FFFFFF !important;
    background-color: #00ccff !important;
    border: 1px solid #00ccff !important;
}

.btnEditar {
    color: #FFFFFF !important;
    background-color: #FFA014 !important;
    border: 1px solid #FFA014 !important;
}

.btnVer {
    color: #FFFFFF !important;
    background-color: #4cff45 !important;
    border: 1px solid #4cff45 !important;
}

.btnExcluir {
    color: #FFFFFF !important;
    background-color: #FF0031 !important;
    border: 1px solid #FF0031 !important;
}

.btnVoltar {
    float: left;
    color: #FFFFFF !important;
    background-color: #13709e !important;
    border: 1px solid #13709e !important;
    height: 46px !important;
}

.btnSalvar {
    float: right;
    color: #FFFFFF !important;
    background-color: #008800 !important;
    border: 1px solid #008800 !important;
    height: 46px !important;
}

.pgPadrao {
    padding-bottom: 50px;
    margin: 15px;
}

.pgSplash {
    position: fixed;
    top: 50%;
    width: 100%;
    text-align: center;
    opacity: 0.8;
    filter: alpha(opacity=80);
}

.pgSplash span {
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #006666;
    background-color: #002222;
    color: #FFF;
}

.posLeft {
    float: left;
    margin-left: 15px;
}

.posRight {
    float: right;
    margin-right: 15px;
}

.txFiltrar {
    margin-left: 5px;
    padding: 5px 12px;
    line-height: 23px;
    font-size: 14px;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.pointer {
    cursor: pointer;
}

.menuSelecionado a {
    color: #222222 !important;
}

.menuSelecionado {
    background-color: #D5D5D5;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #222;
    margin: 1em 0;
    padding: 0;
}

.body-login {
    background: transparent url('../images/body-login.png') no-repeat center center fixed;
    background-size: cover;
}

.pgLogin {
    margin-top: 5%;
    width: 400px;
    text-align: center;
}

.margin15 {
    margin: 15px;
}

.body-sistema {
    background: transparent url('../images/body-sistema.png') no-repeat center center fixed;
    background-size: cover;
}

.icon64px {
    position: absolute;
    font-size: 64px !important;
    top: 50%;
    margin-top: -40px;
    left: 50%;
    margin-left: -32px;
    text-align: center;
}

/******************************/

@media screen and (max-width: 1128px) {

}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 718px) {

}

@media screen and (max-width: 640px) {

}

@media screen and (max-width: 520px) {

}

.star-on:after {
    content: "\2605";
    color: gold;
    width: 50px;
    height: 50px;
}

.star-off:after {
    content: "\2605";
    color: black;
    width: 50px;
    height: 50px;
}