<img src="images/loading.gif" ng-show="(loading)" class="imgLoading">

<div ng-show="!(loading)">
    <h1 class="page-header">
        {{titulo}}
    </h1>

    <uib-tabset active="activeJustified">
        <uib-tab index="0" heading="Informações">
            <br/>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6 form-group" ng-if="($root.isAdmin)">
                        <label for="campo00">Cliente</label>
                        <select class="form-control" id="campo00" ng-model="registroAtual.id_cliente" ng-options="itemAtual.id as itemAtual.cb_nome for itemAtual in array_clientes">
                        </select>
                    </div>

                    <div class="col-md-6 form-group">
                        <label for="campo0">Selecione o Tipo de Cadastro</label><br>
                        <input toggle-checkbox type="checkbox" id="campo0" ng-model="cbTipoCadastroFisica" ng-change="alterarTipoCadastro()" data-toggle="toggle" data-on="Pessoa Física" data-off="Pessoa Jurídica" data-onstyle="default" data-offstyle="default" data-width="150"/>
                    </div>
                </div>

                <div class="row" ng-show="!(cbTipoCadastroFisica)">
                    <div class="col-md-6 form-group">
                        <label for="campo1">Razao Social</label>
                        <input type="text" class="form-control" id="campo1" placeholder="Razão Social" ng-model="registroAtual.razao_social">
                    </div>

                    <div class="col-md-6 form-group">
                        <label for="campo2">Nome Fantasia</label>
                        <input type="text" class="form-control" id="campo2" placeholder="Nome Fantasia" ng-model="registroAtual.nome_fantasia">
                    </div>
                </div>
                <div class="row" ng-show="!(cbTipoCadastroFisica)">
                    <div class="col-md-6 form-group">
                        <label for="campo3">CNPJ</label>
                        <input type="text" class="form-control maskCnpj" id="campo3" placeholder="CNPJ" ng-model="registroAtual.cnpj">
                    </div>

                    <div class="col-md-6 form-group">
                        <label for="campo4">Inscrição Estadual</label>
                        <input type="text" class="form-control" id="campo4" placeholder="Inscrição Estadual" ng-model="registroAtual.ie">
                    </div>
                </div>

                <div class="row" ng-show="(cbTipoCadastroFisica)">
                    <div class="col-md-6 form-group">
                        <label for="campo5">Nome</label>
                        <input type="text" class="form-control" id="campo5" placeholder="Nome" ng-model="registroAtual.nome">
                    </div>

                    <div class="col-md-6 form-group">
                        <label for="campo6">Data de Nascimento</label>
                        <input type="text" class="form-control maskData" id="campo6" placeholder="Data de Nascimento" ng-model="registroAtual.data_nascimento">
                    </div>
                </div>
                <div class="row" ng-show="(cbTipoCadastroFisica)">
                    <div class="col-md-6 form-group">
                        <label for="campo7">CPF</label>
                        <input type="text" class="form-control maskCpf" id="campo7" placeholder="CPF" ng-model="registroAtual.cpf">
                    </div>

                    <div class="col-md-6 form-group">
                        <label for="campo8">RG</label>
                        <input type="text" class="form-control" id="campo8" placeholder="RG" ng-model="registroAtual.rg">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 form-group">
                        <label for="campo9">Observação</label>
                        <textarea class="form-control" id="campo9" placeholder="Observação" rows="5" ng-model="registroAtual.observacao"></textarea>
                    </div>

                </div>
            </div>
        </uib-tab>

        <uib-tab index="1" heading="Endereço Cobrança">
            <br/>
            <div class="container-fluid">
                <div class="row">

                    <div class="col-md-3 form-group">
                        <label for="campo11">CEP</label>

                        <div class="input-group">
                            <input type="text" class="form-control maskCep" id="campo11" placeholder="CEP" ng-model="registroAtual.cep1">
                            <span class="input-group-btn">
                    <button class="btn btn-default" ng-click="localizar(1)">Localizar</button>
                </span>
                        </div>
                    </div>

                    <div class="col-md-6 form-group">
                        <label for="campo12">Logradouro</label>
                        <input type="text" class="form-control" id="campo12" placeholder="Logradouro" ng-model="registroAtual.logradouro1">
                    </div>

                    <div class="col-md-3 form-group">
                        <label for="campo13">Número</label>
                        <input type="text" class="form-control" id="campo13" placeholder="Número" ng-model="registroAtual.numero1">
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 form-group">
                        <label for="campo14">Complemento</label>
                        <input type="text" class="form-control" id="campo14" placeholder="Complemento" ng-model="registroAtual.complemento1">
                    </div>

                    <div class="col-md-6 form-group">
                        <label for="campo15">Bairro</label>
                        <input type="text" class="form-control" id="campo15" placeholder="Bairro" ng-model="registroAtual.bairro1">
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 form-group">
                        <label for="campo16">Estado</label>
                        <select class="form-control" id="campo16" ng-model="registroAtual.id_estado1" ng-options="itemAtual.id as itemAtual.titulo for itemAtual in array_estados" ng-change="filtrarUF(1)">
                        </select>
                    </div>

                    <div class="col-md-6 form-group">
                        <label for="campo17">Cidade</label>
                        <select class="form-control" id="campo17" ng-model="registroAtual.id_cidade1" ng-options="itemAtual.id as itemAtual.titulo for itemAtual in array_cidades1">
                        </select>
                    </div>
                </div>
            </div>
        </uib-tab>

        <uib-tab index="2" heading="Endereço Residêncial">
            <br/>
            <div class="container-fluid">
                <div class="row">

                    <div class="col-md-3 form-group">
                        <label for="campo21">CEP</label>

                        <div class="input-group">
                            <input type="text" class="form-control maskCep" id="campo21" placeholder="CEP" ng-model="registroAtual.cep2">
                            <span class="input-group-btn">
                    <button class="btn btn-default" ng-click="localizar(2)">Localizar</button>
                </span>
                        </div>
                    </div>

                    <div class="col-md-6 form-group">
                        <label for="campo22">Logradouro</label>
                        <input type="text" class="form-control" id="campo22" placeholder="Logradouro" ng-model="registroAtual.logradouro2">
                    </div>

                    <div class="col-md-3 form-group">
                        <label for="campo23">Número</label>
                        <input type="text" class="form-control" id="campo23" placeholder="Número" ng-model="registroAtual.numero2">
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 form-group">
                        <label for="campo24">Complemento</label>
                        <input type="text" class="form-control" id="campo24" placeholder="Complemento" ng-model="registroAtual.complemento2">
                    </div>

                    <div class="col-md-6 form-group">
                        <label for="campo25">Bairro</label>
                        <input type="text" class="form-control" id="campo25" placeholder="Bairro" ng-model="registroAtual.bairro2">
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 form-group">
                        <label for="campo26">Estado</label>
                        <select class="form-control" id="campo26" ng-model="registroAtual.id_estado2" ng-options="itemAtual.id as itemAtual.titulo for itemAtual in array_estados" ng-change="filtrarUF(2)">
                        </select>
                    </div>

                    <div class="col-md-6 form-group">
                        <label for="campo27">Cidade</label>
                        <select class="form-control" id="campo27" ng-model="registroAtual.id_cidade2" ng-options="itemAtual.id as itemAtual.titulo for itemAtual in array_cidades2">
                        </select>
                    </div>
                </div>
            </div>
        </uib-tab>

        <uib-tab index="3" heading="Endereço Comercial">
            <br/>
            <div class="container-fluid">
                <div class="row">

                    <div class="col-md-3 form-group">
                        <label for="campo31">CEP</label>

                        <div class="input-group">
                            <input type="text" class="form-control maskCep" id="campo31" placeholder="CEP" ng-model="registroAtual.cep3">
                            <span class="input-group-btn">
                    <button class="btn btn-default" ng-click="localizar(3)">Localizar</button>
                </span>
                        </div>
                    </div>

                    <div class="col-md-6 form-group">
                        <label for="campo32">Logradouro</label>
                        <input type="text" class="form-control" id="campo32" placeholder="Logradouro" ng-model="registroAtual.logradouro3">
                    </div>

                    <div class="col-md-3 form-group">
                        <label for="campo33">Número</label>
                        <input type="text" class="form-control" id="campo33" placeholder="Número" ng-model="registroAtual.numero3">
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 form-group">
                        <label for="campo34">Complemento</label>
                        <input type="text" class="form-control" id="campo34" placeholder="Complemento" ng-model="registroAtual.complemento3">
                    </div>

                    <div class="col-md-6 form-group">
                        <label for="campo35">Bairro</label>
                        <input type="text" class="form-control" id="campo35" placeholder="Bairro" ng-model="registroAtual.bairro3">
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 form-group">
                        <label for="campo36">Estado</label>
                        <select class="form-control" id="campo36" ng-model="registroAtual.id_estado3" ng-options="itemAtual.id as itemAtual.titulo for itemAtual in array_estados" ng-change="filtrarUF(3)">
                        </select>
                    </div>

                    <div class="col-md-6 form-group">
                        <label for="campo37">Cidade</label>
                        <select class="form-control" id="campo37" ng-model="registroAtual.id_cidade3" ng-options="itemAtual.id as itemAtual.titulo for itemAtual in array_cidades3">
                        </select>
                    </div>
                </div>
            </div>
        </uib-tab>

        <uib-tab index="4" heading="Contatos">
            <br/>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4 form-group">
                        <label for="campo40">Telefone #1</label>
                        <input type="text" class="form-control maskTel" id="campo40" placeholder="Telefone #1" ng-model="registroAtual.tel1">
                    </div>

                    <div class="col-md-4 form-group">
                        <label for="campo41">Contato #1</label>
                        <input type="text" class="form-control" id="campo41" placeholder="Contato #1" ng-model="registroAtual.contato1">
                    </div>

                    <div class="col-md-4 form-group">
                        <label for="campo42">E-mail #1</label>
                        <input type="email" class="form-control" id="campo42" placeholder="E-mail #1" ng-model="registroAtual.email1">
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 form-group">
                        <label for="campo43">Telefone #2</label>
                        <input type="text" class="form-control maskTel" id="campo43" placeholder="Telefone #2" ng-model="registroAtual.tel2">
                    </div>

                    <div class="col-md-4 form-group">
                        <label for="campo44">Contato #2</label>
                        <input type="text" class="form-control" id="campo44" placeholder="Contato #2" ng-model="registroAtual.contato2">
                    </div>

                    <div class="col-md-4 form-group">
                        <label for="campo45">E-mail #2</label>
                        <input type="email" class="form-control" id="campo45" placeholder="E-mail #2" ng-model="registroAtual.email2">
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 form-group">
                        <label for="campo46">Telefone #3</label>
                        <input type="text" class="form-control maskTel" id="campo46" placeholder="Telefone #3" ng-model="registroAtual.tel3">
                    </div>

                    <div class="col-md-4 form-group">
                        <label for="campo47">Contato #3</label>
                        <input type="text" class="form-control" id="campo47" placeholder="Contato #3" ng-model="registroAtual.contato3">
                    </div>

                    <div class="col-md-4 form-group">
                        <label for="campo48">E-mail #3</label>
                        <input type="email" class="form-control" id="campo48" placeholder="E-mail #3" ng-model="registroAtual.email3">
                    </div>
                </div>
            </div>
        </uib-tab>
    </uib-tabset>

    <button class="btn btn-warning posLeft" ng-click="voltar()">Voltar</button>

    <button class="btn btn-success posRight" ng-click="salvar()">Salvar</button>
</div>