<h1 class="page-header">
    Devedores
</h1>

<button class="btn btn-info" ng-click="novo()"><i class="glyphicon glyphicon-plus"></i> Novo</button>

<button class="btn btn-warning" ng-click="editar()" ng-disabled="!(itensSelecionados.length == 1)"><i class="glyphicon glyphicon-pencil"></i> Editar</button>

<button class="btn btn-danger" ng-click="excluir()" ng-disabled="!(itensSelecionados.length == 1)"><i class="glyphicon glyphicon-remove"></i> Excluir</button>

<div style="float: right">
    <input type="text" ng-model="palavraChave" class="txFiltrar testTxFiltrar" placeholder="Localizar...">
    <button class="btn btn-default testBtnFiltrar" ng-click="filtrar()" ng-disabled="!(palavraChave.length >= 3)"><i class="glyphicon glyphicon-search"></i></button>
    <button class="btn btn-default" ng-click="limpar_filtro()" ng-if="(palavraChave.length >= 3)"><i class="glyphicon glyphicon-ban-circle"></i></button>
</div>

<br/>
<br/>

<img src="images/loading.gif" ng-show="(loading)" class="imgLoading">
<div id="gridDevedores" ng-show="!(loading)" dx-data-grid="dataGridOptions"></div>