<h1 class="page-header">
    Faturas
</h1>

<button class="btn btn-default" ng-click="taxas()" ng-disabled="!(itensSelecionados.length == 1)"><i class="glyphicon glyphicon-list-alt"></i> Taxas</button>

<br/>
<br/>

<img src="images/loading.gif" ng-show="(loading)" class="imgLoading">
<div id="gridFaturas" ng-show="!(loading)" dx-data-grid="dataGridOptions"></div>