<img src="images/loading.gif" ng-show="(loading)" class="imgLoading">

<div ng-show="!(loading)">
    <h1 class="page-header">
        {{titulo}}
    </h1>

    <div class="container-fluid">
        <div class="row" ng-if="($root.isAdmin)">
            <div class="col-md-12 form-group">
                <label for="campo0">Cliente</label>
                <select class="form-control" id="campo0" ng-model="registroAtual.id_cliente" ng-options="itemAtual.id as itemAtual.cb_nome for itemAtual in array_clientes">
                </select>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 form-group">
                <label for="campo1">Layout</label>
                <select class="form-control" id="campo1" ng-model="registroAtual.id_layout" ng-options="itemAtual.id as itemAtual.titulo for itemAtual in array_layouts">
                </select>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 form-group">
                <label for="campo2">Arquivo</label>
                <input class="form-control" type="file" id="campo2" file-model="arquivoLayoutImportado"/>
            </div>
        </div>
    </div>

    <button class="btn btn-warning posLeft" ng-click="voltar()">Voltar</button>

    <button class="btn btn-default posRight" ng-click="salvar()"><i class="glyphicon glyphicon-upload"></i> Upload</button>
</div>