<h1 class="page-header">
    Layouts Importados
</h1>

<button class="btn btn-info" ng-click="novo()"><i class="glyphicon glyphicon-plus"></i> Novo</button>

<button class="btn btn-danger" ng-click="excluir()" ng-disabled="(itensSelecionados.length == 0)"><i class="glyphicon glyphicon-remove"></i> Excluir</button>

<button class="btn btn-default" ng-click="informacoes()" ng-disabled="!(itensSelecionados.length == 1)"><i class="glyphicon glyphicon-list-alt"></i> Informações</button>

<br/>
<br/>

<img src="images/loading.gif" ng-show="(loading)" class="imgLoading">
<div id="gridLayoutsImportados" ng-show="!(loading)" dx-data-grid="dataGridOptions"></div>