<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
    <h3 class="modal-title">Informações</h3>
</div>

<div class="modal-body">
    <div class="container-fluid">
        <div class="row">
            <div class="form-group">
                <textarea class="form-control" placeholder="Descrição" rows="10" ng-bind-html="registroAtual.descricao"></textarea>
            </div>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button class="btn btn-danger" type="button" ng-click="cancel()">Cancel</button>
</div>