<h1 class="page-header">
    Remessas do Banco
</h1>

<button class="btn btn-default" ng-click="exibirDownloadRemessaBanco()"><i class="glyphicon glyphicon-download-alt"></i> Download</button>

<button class="btn btn-default" ng-click="exportar()" ng-disabled="(itensSelecionados.length == 0)"><i class="glyphicon glyphicon-upload"></i> Gerar remessa</button>

<input id="file-upload-banco" type='file' file-model='fileBanco' style="display: none">
<button class="btn btn-default" onclick="document.getElementById('file-upload-banco').click()"><i class="glyphicon glyphicon-download"></i> Importar retorno do Banco</button>

<div style="float: right">

    <multiselect show-select-all="true" show-unselect-all="true" show-search="true" default-text="Filtrar situação" ng-model="filtroSituacao" options="array_situacao" id-prop="id" display-prop="titulo" style="float: left">
    </multiselect>

    <input type="text" ng-model="palavraChave" class="txFiltrar" placeholder="Localizar...">
    <button class="btn btn-default" ng-click="filtrar()" ng-disabled="!(palavraChave.length >= 3 || filtroSituacao.length > 0)"><i class="glyphicon glyphicon-search"></i></button>
    <button class="btn btn-default" ng-click="limpar_filtro()" ng-if="(palavraChave.length >= 3) || (filtroSituacao.length > 0)"><i class="glyphicon glyphicon-ban-circle"></i></button>
</div>

<br/>
<br/>

<img src="images/loading.gif" ng-show="(loading)" class="imgLoading">
<div id="gridDividasRemessaBanco" ng-show="!(loading)" dx-data-grid="dataGridOptions"></div>