<img src="images/loading.gif" ng-show="(loading)" class="imgLoading">

<div ng-show="!(loading)">
    <h1 class="page-header">
        {{titulo}}
    </h1>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 form-group">
                <label for="campo1">Cliente</label>
                <select class="form-control" id="campo1" ng-model="registroAtual.id_cliente" ng-options="itemAtual.id as itemAtual.cb_nome for itemAtual in array_clientes">
                </select>
            </div>

            <div class="col-md-4 form-group">
                <label for="campo2">Situação</label>
                <select class="form-control" id="campo2" ng-model="registroAtual.id_situacao" ng-options="itemAtual.id as itemAtual.titulo for itemAtual in array_situacao">
                </select>
            </div>

            <div class="col-md-4 form-group">
                <label for="campo3">Dia de Vencimento</label>
                <input type="text" class="form-control" id="campo3" placeholder="Dia de Vencimento" ng-model="registroAtual.dia_vcto">
            </div>
        </div>
    </div>

    <button class="btn btn-warning posLeft" ng-click="voltar()">Voltar</button>

    <button class="btn btn-success posRight" ng-click="salvar()">Salvar</button>
</div>