<h1 class="page-header">
    Mensalidades
</h1>

<button class="btn btn-info" ng-click="gerarMensalidades()"><i class="glyphicon glyphicon-repeat"></i> Gerar</button>

<button class="btn btn-default" ng-click="darBaixa()" ng-disabled="!(itensSelecionados.length == 1 && itensSelecionados[0].id_situacao == 1)"><i class="glyphicon glyphicon-saved"></i> Dar Baixa</button>

<button class="btn btn-default" ng-click="taxas()" ng-disabled="!(itensSelecionados.length == 1)"><i class="glyphicon glyphicon-list-alt"></i> Taxas</button>

<div style="float: right">

    <multiselect show-select-all="true" show-unselect-all="true" show-search="true" default-text="Filtrar situação" ng-model="filtroSituacao" options="array_situacao" id-prop="id" display-prop="titulo" style="float: left">
    </multiselect>

    <input type="text" ng-model="palavraChave" class="txFiltrar" placeholder="Localizar...">
    <button class="btn btn-default" ng-click="filtrar()" ng-disabled="!(palavraChave.length >= 3 || filtroSituacao.length > 0)"><i class="glyphicon glyphicon-search"></i></button>
    <button class="btn btn-default" ng-click="limpar_filtro()" ng-if="(palavraChave.length >= 3) || (filtroSituacao.length > 0)"><i class="glyphicon glyphicon-ban-circle"></i></button>
</div>

<br/>
<br/>

<img src="images/loading.gif" ng-show="(loading)" class="imgLoading">
<div id="gridMensalidades" ng-show="!(loading)" dx-data-grid="dataGridOptions"></div>