<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
    <h3 class="modal-title">Dar Baixa</h3>
</div>

<div class="modal-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 form-group">
                <label for="campo1">Valor do Pagamento</label>
                <input type="text" class="form-control maskDinheiro" id="campo1" placeholder="Valor do Pagamento" ng-model="registroAtual.valor_pgto">
            </div>

            <div class="col-md-6 form-group">
                <label for="campo2">Data do Pagamento</label>
                <input type="text" class="form-control maskData" id="campo2" placeholder="Data do Pagamento" ng-model="registroAtual.data_pgto">
            </div>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button class="btn btn-success" type="button" ng-click="ok()">Salvar</button>
    <button class="btn btn-danger" type="button" ng-click="cancel()">Cancel</button>
</div>