<style>
    .popover {
        max-width: 800px;
    }

    .tblListagemWS tr th,
    .tblListagemWS tr td {
        padding: 5px;
        border-bottom: 1px solid #E5E5E5;
    }

    .tblListagemWS tr th {
        width: 200px;
        background-color: #E5E5E5;
        border-bottom: 1px solid #D5D5D5;
    }

</style>

<img src="images/loading.gif" ng-show="(loading)" class="imgLoading">

<div ng-show="!(loading)">
    <h1 class="page-header">
        {{servicoAtual.titulo}}
    </h1>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Descrição</h4>
                </div>
                <div class="modal-body">
                    {{servicoAtual.descricao}}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 form-group">
                <label for="campo0">Documento</label>
                <input type="text" class="form-control" id="campo0" placeholder="Documento" ng-model="registroAtual.documento">
            </div>
        </div>
    </div>

    <button class="btn btn-success posRight" ng-click="consultar()">Consultar</button>
    <button class="btn btn-info posRight" ng-disabled="(total_historico == 0)" ng-click="modalHistorico()">Histórico <span ng-if="(total_historico > 0)" class="badge badgeMenu">{{total_historico}}</span></button>
    <button class="btn btn-default posRight" data-container="body" data-toggle="popover" title="Tarifa por consulta" data-trigger="focus" data-placement="top" data-content="{{servicoAtual.grid_valor}}">
        <i class="glyphicon glyphicon-usd"></i>
    </button>
    <button class="btn btn-default posRight" data-toggle="modal" data-target="#myModal">
        <i class="glyphicon glyphicon-list-alt"></i>
    </button>
</div>

<div ng-show="exibeDetalhes">
    <img src="images/loading.gif" ng-show="(loadingDetalhes)" class="imgLoading">

    <div ng-show="!(loadingDetalhes)">
        <h1 class="page-header">
            Resposta da consulta
        </h1>

        <p id="iframeConsulta" ng-bind-html="detalhesRetorno"></p>

        <button class="btn btn-success" type="button" onClick="imprimirConsulta()"><i class="glyphicon glyphicon-print"></i> Imprimir</button>
    </div>
</div>

<script>
    function imprimirConsulta() {
        var conteudo = document.getElementById('iframeConsulta').innerHTML;
        var win = window.open();
        win.document.write(conteudo);
        win.focus();
        win.print();
        win.close();
    }
</script>