<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
    <h3 class="modal-title">Histórico - {{registroAtual.titulo}}</h3>
</div>

<div class="modal-body" style="width: 100%;">

    <img src="images/loading.gif" ng-show="(loading)" class="imgLoading">
    <div id="gridHistorico" ng-show="!(loading)" dx-data-grid="dataGridOptions"></div>

    <br/>

    <div ng-show="exibirDetalhes">
        <img src="images/loading.gif" ng-show="(loadingDetalhes)" class="imgLoading">

        <div ng-show="!(loadingDetalhes)">
            <h3 class="page-header" style="margin-top: -20px !important;">
                Resposta da consulta
            </h3>

            <p id="iframeConsultaHistorico" ng-bind-html="detalhesRetorno"></p>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button class="btn btn-success" type="button" onClick="imprimirConsultaHistorico()"><i class="glyphicon glyphicon-print"></i> Imprimir</button>
    <button class="btn btn-danger" type="button" ng-click="cancel()">Fechar</button>
</div>

<script>
    function imprimirConsultaHistorico() {
        var conteudo = document.getElementById('iframeConsultaHistorico').innerHTML;
        var win = window.open();
        win.document.write(conteudo);
        win.focus();
        win.print();
        win.close();
    }
</script>