<img src="images/loading.gif" ng-show="(loading)" class="imgLoading">

<div ng-show="!(loading)">
    <h1 class="page-header">
        {{titulo}}
    </h1>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 form-group">
                <label for="campo0">Cliente</label>
                <select class="form-control" id="campo0" ng-model="registroAtual.id_cliente" ng-options="itemAtual.id as itemAtual.cb_nome for itemAtual in array_clientes">
                </select>
            </div>

            <div class="col-md-4 form-group">
                <label for="campo1">Serviço</label>
                <select class="form-control" id="campo1" ng-model="registroAtual.id_servico" ng-options="itemAtual.id as itemAtual.titulo for itemAtual in array_servicos" ng-change="definirServico()">
                </select>
            </div>

            <div class="col-md-4 form-group">
                <label for="campo12">Situação</label>
                <select class="form-control" id="campo12" ng-model="registroAtual.id_situacao" ng-options="itemAtual.id as itemAtual.titulo for itemAtual in array_situacao">
                </select>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 form-group">
                <label for="campo2">Valor</label>
                <input type="text" class="form-control maskDinheiro" id="campo2" placeholder="Valor" ng-model="registroAtual.valor">
            </div>

            <div class="col-md-4 form-group">
                <label for="campo3">Histórico</label>
                <input type="text" class="form-control" id="campo3" placeholder="Histórico" ng-model="registroAtual.historico">
            </div>

            <div class="col-md-4 form-group">
                <label for="campo4">Data</label>
                <input type="text" class="form-control maskDataHora" id="campo4" placeholder="Data" ng-model="registroAtual.data">
            </div>
        </div>
    </div>

    <button class="btn btn-warning posLeft" ng-click="voltar()">Voltar</button>

    <button class="btn btn-success posRight" ng-click="salvar()">Salvar</button>
</div>