<img src="images/loading.gif" ng-show="(loading)" class="imgLoading">

<div ng-show="!(loading)">
    <h1 class="page-header">
        {{titulo}}
    </h1>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 form-group" ng-if="($root.isAdmin)">
                <label for="campo0">Cliente</label>
                <select class="form-control" id="campo0" ng-model="registroAtual.id_cliente" ng-options="itemAtual.id as itemAtual.cb_nome for itemAtual in array_clientes">
                </select>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 form-group">
                <label for="campo1">Titulo</label>
                <input type="text" class="form-control" id="campo1" placeholder="Titulo" ng-model="registroAtual.titulo">
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 form-group">
                <label for="campo2">Mensagem</label>
                <textarea class="form-control" id="campo2" placeholder="Mensagem" rows="5" ng-model="registroAtual.mensagem"></textarea>
            </div>
        </div>
    </div>

    <button class="btn btn-warning posLeft" ng-click="voltar()">Voltar</button>

    <button class="btn btn-success posRight" ng-click="salvar()">Salvar</button>
</div>