<img src="images/loading.gif" ng-show="(loading)" class="imgLoading">

<div ng-show="!(loading)">
    <h1 class="page-header">
        {{titulo}}
    </h1>

    <uib-tabset active="activeJustified">
        <uib-tab index="0" heading="Informações">
            <br/>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6 form-group">
                        <label for="campo0">Selecione o Tipo de Cadastro</label><br>
                        <input toggle-checkbox type="checkbox" id="campo0" ng-model="cbTipoCadastroFisica" ng-change="alterarTipoCadastro()" data-toggle="toggle" data-on="Pessoa Física" data-off="Pessoa Jurídica" data-onstyle="default" data-offstyle="default" data-width="150"/>
                    </div>

                    <div class="col-md-6 form-group">
                        <label for="campo0a">Situaçao</label>
                        <select class="form-control" id="campo0a" ng-model="registroAtual.id_situacao" ng-options="itemAtual.id as itemAtual.titulo for itemAtual in array_situacao">
                        </select>
                    </div>
                </div>

                <div class="row" ng-show="!(cbTipoCadastroFisica)">
                    <div class="col-md-6 form-group">
                        <label for="campo1">Razao Social</label>
                        <input type="text" class="form-control" id="campo1" placeholder="Razão Social" ng-model="registroAtual.razao_social">
                    </div>

                    <div class="col-md-6 form-group">
                        <label for="campo2">Nome Fantasia</label>
                        <input type="text" class="form-control" id="campo2" placeholder="Nome Fantasia" ng-model="registroAtual.nome_fantasia">
                    </div>
                </div>
                <div class="row" ng-show="!(cbTipoCadastroFisica)">
                    <div class="col-md-6 form-group">
                        <label for="campo3">CNPJ</label>
                        <input type="text" class="form-control maskCnpj" id="campo3" placeholder="CNPJ" ng-model="registroAtual.cnpj">
                    </div>

                    <div class="col-md-6 form-group">
                        <label for="campo3a">Inscrição Estadual</label>
                        <input type="text" class="form-control" id="campo3a" placeholder="Inscrição Estadual" ng-model="registroAtual.ie">
                    </div>
                </div>

                <div class="row" ng-show="(cbTipoCadastroFisica)">
                    <div class="col-md-6 form-group">
                        <label for="campo5">Nome</label>
                        <input type="text" class="form-control" id="campo5" placeholder="Nome" ng-model="registroAtual.nome">
                    </div>

                    <div class="col-md-6 form-group">
                        <label for="campo6">Data de Nascimento</label>
                        <input type="text" class="form-control maskData" id="campo6" placeholder="Data de Nascimento" ng-model="registroAtual.data_nascimento">
                    </div>
                </div>
                <div class="row" ng-show="(cbTipoCadastroFisica)">
                    <div class="col-md-6 form-group">
                        <label for="campo7">CPF</label>
                        <input type="text" class="form-control maskCpf" id="campo7" placeholder="CPF" ng-model="registroAtual.cpf">
                    </div>

                    <div class="col-md-6 form-group">
                        <label for="campo8">RG</label>
                        <input type="text" class="form-control" id="campo8" placeholder="RG" ng-model="registroAtual.rg">
                    </div>
                </div>
            </div>
        </uib-tab>

        <uib-tab index="1" heading="Endereço">
            <br/>
            <div class="container-fluid">
                <div class="row">

                    <div class="col-md-3 form-group">
                        <label for="campo9">CEP</label>

                        <div class="input-group">
                            <input type="text" class="form-control maskCep" id="campo9" placeholder="CEP" ng-model="registroAtual.cep">
                        <span class="input-group-btn">
                    <button class="btn btn-default" ng-click="localizar()">Localizar</button>
                </span>
                        </div>
                    </div>

                    <div class="col-md-6 form-group">
                        <label for="campo10">Logradouro</label>
                        <input type="text" class="form-control" id="campo10" placeholder="Logradouro" ng-model="registroAtual.logradouro">
                    </div>

                    <div class="col-md-3 form-group">
                        <label for="campo11">Número</label>
                        <input type="text" class="form-control" id="campo11" placeholder="Número" ng-model="registroAtual.numero">
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 form-group">
                        <label for="campo12">Complemento</label>
                        <input type="text" class="form-control" id="campo12" placeholder="Complemento" ng-model="registroAtual.complemento">
                    </div>

                    <div class="col-md-6 form-group">
                        <label for="campo13">Bairro</label>
                        <input type="text" class="form-control" id="campo13" placeholder="Bairro" ng-model="registroAtual.bairro">
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 form-group">
                        <label for="campo14">Estado</label>
                        <select class="form-control" id="campo14" ng-model="registroAtual.id_estado" ng-options="itemAtual.id as itemAtual.titulo for itemAtual in array_estados" ng-change="filtrarUF()">
                        </select>
                    </div>

                    <div class="col-md-6 form-group">
                        <label for="campo15">Cidade</label>
                        <select class="form-control" id="campo15" ng-model="registroAtual.id_cidade" ng-options="itemAtual.id as itemAtual.titulo for itemAtual in array_cidades">
                        </select>
                    </div>
                </div>
            </div>
        </uib-tab>

        <uib-tab index="2" heading="Contatos">
            <br/>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4 form-group">
                        <label for="campo16">Telefone #1</label>
                        <input type="text" class="form-control maskTel" id="campo16" placeholder="Telefone #1" ng-model="registroAtual.tel1">
                    </div>

                    <div class="col-md-4 form-group">
                        <label for="campo17">Contato #1</label>
                        <input type="text" class="form-control" id="campo17" placeholder="Contato #1" ng-model="registroAtual.contato1">
                    </div>

                    <div class="col-md-4 form-group">
                        <label for="campo18">E-mail #1</label>
                        <input type="email" class="form-control" id="campo18" placeholder="E-mail #1" ng-model="registroAtual.email1">
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 form-group">
                        <label for="campo19">Telefone #2</label>
                        <input type="text" class="form-control maskTel" id="campo19" placeholder="Telefone #2" ng-model="registroAtual.tel2">
                    </div>

                    <div class="col-md-4 form-group">
                        <label for="campo20">Contato #2</label>
                        <input type="text" class="form-control" id="campo20" placeholder="Contato #2" ng-model="registroAtual.contato2">
                    </div>

                    <div class="col-md-4 form-group">
                        <label for="campo21">E-mail #2</label>
                        <input type="email" class="form-control" id="campo21" placeholder="E-mail #2" ng-model="registroAtual.email2">
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 form-group">
                        <label for="campo22">Telefone #3</label>
                        <input type="text" class="form-control maskTel" id="campo22" placeholder="Telefone #3" ng-model="registroAtual.tel3">
                    </div>

                    <div class="col-md-4 form-group">
                        <label for="campo23">Contato #3</label>
                        <input type="text" class="form-control" id="campo23" placeholder="Contato #3" ng-model="registroAtual.contato3">
                    </div>

                    <div class="col-md-4 form-group">
                        <label for="campo24">E-mail #3</label>
                        <input type="email" class="form-control" id="campo24" placeholder="E-mail #3" ng-model="registroAtual.email3">
                    </div>
                </div>
            </div>
        </uib-tab>
    </uib-tabset>

    <button class="btn btn-warning posLeft" ng-click="voltar()">Voltar</button>

    <button class="btn btn-success posRight" ng-click="salvar()">Salvar</button>
</div>