<img src="images/loading.gif" ng-show="(loading)" class="imgLoading">

<div ng-show="!(loading)">
    <h1 class="page-header">
        {{titulo}}
    </h1>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 form-group">
                <label for="campo1">Titulo</label>
                <input type="text" class="form-control" id="campo1" placeholder="Titulo" ng-model="registroAtual.titulo">
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 form-group">
                <label for="campo2">Conteudo</label>
                <textarea class="form-control" id="campo2" placeholder="Conteudo" rows="10" ng-model="registroAtual.conteudo"></textarea>
            </div>
        </div>
    </div>

    <button class="btn btn-warning posLeft" ng-click="voltar()">Voltar</button>
</div>