<h1 class="page-header">
    Avisos
</h1>

<button class="btn btn-warning" ng-click="editar()" ng-disabled="!(itensSelecionados.length == 1)"><i class="glyphicon glyphicon-pencil"></i> Editar</button>

<div style="float: right">

    <multiselect show-select-all="true" show-unselect-all="true" show-search="true" default-text="Filtrar tipo" ng-model="filtroTipo" options="array_tipo" id-prop="id" display-prop="titulo" style="float: left">
    </multiselect>

    <input type="text" ng-model="palavraChave" class="txFiltrar testTxFiltrar" placeholder="Localizar...">
    <button class="btn btn-default testBtnFiltrar" ng-click="filtrar()" ng-disabled="!(palavraChave.length >= 3)"><i class="glyphicon glyphicon-search"></i></button>
    <button class="btn btn-default" ng-click="limpar_filtro()" ng-if="(palavraChave.length >= 3)"><i class="glyphicon glyphicon-ban-circle"></i></button>
</div>

<br/>
<br/>

<img src="images/loading.gif" ng-show="(loading)" class="imgLoading">
<div id="gridAvisos" ng-show="!(loading)" dx-data-grid="dataGridOptions"></div>