<img src="images/loading.gif" ng-show="(loading)" class="imgLoading">

<div ng-show="!(loading)">
    <h1 class="page-header">
        {{titulo}}
    </h1>

    <div class="container-fluid">
        <div class="row">
            <div class="form-group">
                <label for="campo1">Titulo</label>
                <input type="text" class="form-control" id="campo1" placeholder="Titulo" ng-model="registroAtual.titulo" ng-readonly="(registroAtual.permite_remover == 0)">
            </div>

            <div class="form-group">
                <label for="campo2">Descrição</label>
                <textarea class="form-control" id="campo2" placeholder="Descrição" rows="5" ng-model="registroAtual.descricao"></textarea>
            </div>

            <div class="form-group">
                <label for="campo3">Valor</label>
                <input type="text" class="form-control maskDinheiro" id="campo3" placeholder="Valor" ng-model="registroAtual.valor">
            </div>
        </div>
    </div>

    <button class="btn btn-warning posLeft" ng-click="voltar()">Voltar</button>

    <button class="btn btn-success posRight" ng-click="salvar()">Salvar</button>
</div>