<img src="images/loading.gif" ng-show="(loading)" class="imgLoading">

<div ng-show="!(loading)">
    <h1 class="page-header">
        {{titulo}}
    </h1>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 form-group">
                <label for="campo1">Serviço</label>
                <select class="form-control" id="campo1" ng-model="registroAtual.id_servico" ng-options="itemAtual.id as itemAtual.titulo for itemAtual in array_servicos" ng-change="definirServico()">
                </select>
            </div>

            <div class="col-md-6 form-group">
                <label for="campo2">Valor</label>
                <input type="text" class="form-control maskDinheiro" id="campo2" placeholder="Valor" ng-model="registroAtual.valor">
            </div>
        </div>
    </div>

    <button class="btn btn-warning posLeft" ng-click="voltar()">Voltar</button>

    <button class="btn btn-success posRight" ng-click="salvar()">Salvar</button>
</div>