<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
    <h3 class="modal-title">Download de Remessa</h3>
</div>

<div class="modal-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 form-group">

                <iframe style="overflow:auto;width:100%;height:100%;" frameborder="0" src="{{iframeURLCartorio}}"></iframe>

            </div>
        </div>
    </div>
</div>