<h1 class="page-header">
    Faturas - Taxas
</h1>
<button class="btn btn-warning" ng-click="voltar()">Voltar</button>

<br/>
<br/>

<img src="images/loading.gif" ng-show="(loading)" class="imgLoading">
<div id="gridFaturasTaxas" ng-show="!(loading)" dx-data-grid="dataGridOptions"></div>

<br/>

<div ng-show="(exibirDetalhes)">
    <img src="images/loading.gif" ng-show="(loadingDetalhes)" class="imgLoading">

    <div ng-show="!(loadingDetalhes)">
        <h1 class="page-header">
            Detalhes desta Taxa
        </h1>

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 form-group">
                    <label for="campo1">Serviço</label>
                    <input type="text" class="form-control" id="campo1" placeholder="Serviço" ng-model="registroAtual.grid_servico">
                </div>

                <div class="col-md-6 form-group">
                    <label for="campo12">Situação</label>
                    <input type="text" class="form-control" id="campo12" placeholder="Situação" ng-model="registroAtual.situacao">
                </div>
            </div>

            <div class="row">
                <div class="col-md-4 form-group">
                    <label for="campo2">Valor</label>
                    <input type="text" class="form-control maskDinheiro" id="campo2" placeholder="Valor" ng-model="registroAtual.valor">
                </div>

                <div class="col-md-4 form-group">
                    <label for="campo3">Histórico</label>
                    <input type="text" class="form-control" id="campo3" placeholder="Histórico" ng-model="registroAtual.historico">
                </div>

                <div class="col-md-4 form-group">
                    <label for="campo4">Data</label>
                    <input type="text" class="form-control maskDataHora" id="campo4" placeholder="Data" ng-model="registroAtual.data">
                </div>
            </div>
        </div>
    </div>
</div>