<img src="images/loading.gif" ng-show="(loading)" class="imgLoading">

<div ng-show="!(loading)">
    <h1 class="page-header">
        {{titulo}}
    </h1>

    <div class="container-fluid">
        <div class="row" ng-if="($root.isAdmin)">
            <div class="col-md-12 form-group">
                <label for="campo0">Cliente</label>
                <select class="form-control" id="campo0" ng-model="registroAtual.id_cliente" ng-options="itemAtual.id as itemAtual.cb_nome for itemAtual in array_clientes" ng-change="filtrarDevedores()">
                </select>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 form-group">
                <label for="campo1">Devedor</label>
                <select class="form-control" id="campo1" ng-model="registroAtual.id_devedor" ng-options="itemAtual.id as itemAtual.grid_nome for itemAtual in array_devedores">
                </select>
            </div>

            <div class="col-md-4 form-group">
                <label for="campo2">Situação</label>
                <select class="form-control" id="campo2" ng-model="registroAtual.id_situacao" ng-options="itemAtual.id as itemAtual.titulo for itemAtual in array_situacao">
                </select>
            </div>

            <div class="col-md-4 form-group">
                <label for="campo20">Praça</label>
                <select class="form-control" id="campo20" ng-model="registroAtual.id_praca" ng-options="itemAtual.id as itemAtual.titulo for itemAtual in array_pracas">
                </select>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 form-group">
                <label for="campo23">Numero da Fatura</label>
                <input type="text" class="form-control" id="campo23" placeholder="Numero da Fatura" ng-model="registroAtual.numero_fatura">
            </div>

            <div class="col-md-4 form-group">
                <label for="campo22">Numero do Documento</label>
                <input type="text" class="form-control" id="campo22" placeholder="Numero do Documento" ng-model="registroAtual.numero_documento">
            </div>

            <div class="col-md-4 form-group">
                <label for="campo24">Observações</label>
                <input type="text" class="form-control" id="campo24" placeholder="Observações" ng-model="registroAtual.observacoes">
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 form-group">
                <label for="campo21">Data de Emissão</label>
                <input type="text" class="form-control maskData" id="campo21" placeholder="Data de Emissão" ng-model="registroAtual.data_emissao">
            </div>

            <div class="col-md-4 form-group">
                <label for="campo4">Data de Vencimento</label>
                <input type="text" class="form-control maskData" id="campo4" placeholder="Data de Vencimento" ng-model="registroAtual.data_vcto">
            </div>

            <div class="{{modoEdicao? 'col-md-4' : 'col-md-2'}} form-group">
                <label for="campo3">Valor</label>
                <input type="text" class="form-control maskDinheiro" id="campo3" placeholder="Valor" ng-model="registroAtual.valor_vcto" ng-change="refazParcelamento()">
            </div>

            <div class="col-md-2 form-group" ng-if="!(modoEdicao)">
                <label for="campo5">Deseja parcelar?</label><br>
                <input toggle-checkbox type="checkbox" id="campo5" ng-model="registroAtual.deseja_parcelar" data-toggle="toggle" data-on="Ativado" data-off="Desativado" data-onstyle="success" data-offstyle="danger" data-width="110" ng-change="refazParcelamento()"/>
            </div>
        </div>

        <div class="row" ng-if="!(modoEdicao)">
            <div class="col-md-8 form-group">
            </div>

            <div class="col-md-2 form-group" ng-show="(registroAtual.deseja_parcelar)">
                <label for="campo6">Dividir em</label>
                <input type="text" class="form-control" id="campo6" placeholder="Dividir em" ng-model="registroAtual.numero_parcela" ng-change="refazParcelamento()">
            </div>

            <div class="col-md-2 form-group" ng-show="(registroAtual.deseja_parcelar)">
                <label for="campo7">Valor da Parcela</label>
                <input type="text" class="form-control" id="campo7" placeholder="Valor da Parcela" ng-disabled="true" ng-model="registroAtual.valor_da_parcela">
            </div>
        </div>
    </div>

    <button class="btn btn-warning posLeft" ng-click="voltar()">Voltar</button>

    <button class="btn btn-success posRight" ng-click="salvar()">Salvar</button>
</div>