<h1 class="page-header">
    Dividas
</h1>

<button class="btn btn-info" ng-click="novo()"><i class="glyphicon glyphicon-plus"></i> Novo</button>

<button class="btn btn-warning" ng-click="editar()" ng-disabled="!(itensSelecionados.length == 1) || (itensSelecionados[0].id_situacao != 1) || (itensSelecionados[0].nosso_numero != 0)"><i class="glyphicon glyphicon-pencil"></i> Editar</button>

<div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-disabled="(itensSelecionados.length == 0)">
        <i class="glyphicon glyphicon-barcode"></i> Opções <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">

        <li><a ng-click="gerarBoleto()">Emitir Boleto</a></li>
        <li><a ng-click="configBoleto()" ng-hide="!(itensSelecionados.length == 1) || (itensSelecionados[0].id_situacao != 1) || (itensSelecionados[0].nosso_numero != 0)">Configurar este Boleto</a></li>
        <li role="separator" class="divider"></li>

        <li><a ng-click="enviar_cartorio()">Enviar para Cartório</a></li>
        <li role="separator" class="divider"></li>

        <li><a ng-click="gerarNotaPromissoria()">Nota Promissoria</a></li>
        <li><a ng-click="gerarDuplicataPrestacaoServico()">Duplicata de Prestação de Serviço</a></li>
        <li><a ng-click="gerarDuplicataVendaMercantil()">Duplicata de Venda Mercantil</a></li>
        <li><a ng-click="gerarTriplicataPrestacaoServico()">Triplicata de Prestação de Serviço</a></li>
        <li><a ng-click="gerarTriplicataVendaMercantil()">Triplicata de Venda Mercantil</a></li>

        <li role="separator" class="divider"></li>
        <li><a ng-click="cancelarBoleto()">Cancelar Boleto</a></li>
    </ul>
</div>

<div style="float: right">

    <multiselect show-select-all="true" show-unselect-all="true" show-search="true" default-text="Filtrar situação" ng-model="filtroSituacao" options="array_situacao" id-prop="id" display-prop="titulo" style="float: left">
    </multiselect>

    <input type="text" ng-model="palavraChave" class="txFiltrar" placeholder="Localizar...">
    <button class="btn btn-default" ng-click="filtrar()" ng-disabled="!(palavraChave.length >= 3 || filtroSituacao.length > 0)"><i class="glyphicon glyphicon-search"></i></button>
    <button class="btn btn-default" ng-click="limpar_filtro()" ng-if="(palavraChave.length >= 3) || (filtroSituacao.length > 0)"><i class="glyphicon glyphicon-ban-circle"></i></button>
</div>

<br/>
<br/>

<img src="images/loading.gif" ng-show="(loading)" class="imgLoading">
<div id="gridDividas" ng-show="!(loading)" dx-data-grid="dataGridOptions"></div>