<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
    <h3 class="modal-title">Configuração deste Boleto</h3>
</div>

<div class="modal-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 form-group">
                <label>Mensagem 1</label>
                <input type="text" class="form-control" ng-model="registroAtual.boleto_mensagem1">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 form-group">
                <label>Mensagem 2</label>
                <input type="text" class="form-control" ng-model="registroAtual.boleto_mensagem2">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 form-group">
                <label>Mensagem 3</label>
                <input type="text" class="form-control" ng-model="registroAtual.boleto_mensagem3">
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 form-group">
                <label>Valor Desconto</label>
                <input type="text" class="form-control maskDinheiro" ng-model="registroAtual.boleto_desconto">
            </div>
            <div class="col-md-3 form-group">
                <label>Valor Abatimento</label>
                <input type="text" class="form-control maskDinheiro" ng-model="registroAtual.boleto_abatimento">
            </div>
            <div class="col-md-3 form-group">
                <label>Valor Mora</label>
                <input type="text" class="form-control maskDinheiro" ng-model="registroAtual.boleto_mora">
            </div>
            <div class="col-md-3 form-group">
                <label>Valor Multa</label>
                <input type="text" class="form-control maskDinheiro" ng-model="registroAtual.boleto_multa">
            </div>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button class="btn btn-success" type="button" ng-click="ok()">Salvar</button>
    <button class="btn btn-danger" type="button" ng-click="cancel()">Cancel</button>
</div>