<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
    <h3 class="modal-title">Imprimir Documento</h3>
</div>

<div class="modal-body">
    <div class="container-fluid">
        <div class="row">
            <iframe width="100%" id="iframeDoc" frameBorder="0" name="iframeDoc" height="500px" ng-src="{{urlDoc}}"></iframe>
        </div>
    </div>
</div>

<div class="modal-footer">
    <div class="container-fluid">
        <div class="row">
            <div class="form-group">
                <button class="btn btn-success" type="button" onClick="imprimirDoc()"><i class="glyphicon glyphicon-print"></i> Imprimir</button>
                <button class="btn btn-danger" type="button" ng-click="cancel()">Fechar</button>
            </div>
        </div>
    </div>
</div>

<script>
    function imprimirDoc() {
        window.frames['iframeDoc'].focus();
        window.frames['iframeDoc'].print();
    }
</script>