<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
    <h3 class="modal-title">Enviar e-mail</h3>
</div>

<div class="modal-body">
    <div class="container-fluid">
        <div class="row">
            <div class="form-group">
                <label for="email" class="control-label">Confira o e-mail informado:</label>
                <input type="text" id="email" class="form-control" ng-model="emailAtual">
                <br/>
                Se desejar enviar para vários destinatários, informe os e-mail separados por ponto-e-vírgula.
            </div>
        </div>
    </div>
</div>

<div class="modal-footer">
    <div class="container-fluid">
        <div class="row">
            <div class="form-group">
                <button class="btn btn-success" type="button" ng-click="enviar()">Enviar</button>
                <button class="btn btn-danger" type="button" ng-click="cancel()">Fechar</button>
            </div>
        </div>
    </div>
</div>