<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
    <h3 class="modal-title">Imprimir Boleto</h3>
</div>

<div class="modal-body">
    <div class="container-fluid">
        <div class="row">
            <iframe width="100%" id="iframeBoleto" frameBorder="0" name="iframeBoleto" height="500px" ng-src="{{trustSrc(urlBoleto)}}"></iframe>
        </div>
    </div>
</div>

<div class="modal-footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2 form-group">
                <button class="btn btn-default" type="button" ng-click="enviar()"><i class="glyphicon glyphicon-envelope"></i> Enviar para e-mail</button>
            </div>

            <div class="col-md-10 form-group">
                <button class="btn btn-success" type="button" onClick="imprimirBoleto()"><i class="glyphicon glyphicon-print"></i> Imprimir</button>
                <button class="btn btn-danger" type="button" ng-click="cancel()">Fechar</button>
            </div>
        </div>
    </div>
</div>

<script>
    function imprimirBoleto() {
        window.frames['iframeBoleto'].focus();
        window.frames['iframeBoleto'].print();
    }
</script>