<img src="images/loading.gif" ng-show="(loading)" class="imgLoading">

<div ng-show="!(loading)">
    <h1 class="page-header">
        {{titulo}}
    </h1>

    <div class="container-fluid">
        <div class="row" ng-if="($root.isAdmin)">
            <div class="col-md-12 form-group">
                <label for="campo0">Cliente</label>
                <select class="form-control" id="campo0" ng-model="registroAtual.id_cliente" ng-options="itemAtual.id as itemAtual.cb_nome for itemAtual in array_clientes">
                </select>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 form-group">
                <label for="campo2">Situação</label>
                <select class="form-control testUsuariosFormSituacao" id="campo2" ng-model="registroAtual.id_situacao" ng-options="itemAtual.id as itemAtual.titulo for itemAtual in array_situacao">
                </select>
            </div>

            <div class="col-md-6 form-group">
                <label for="campo3">E-mail</label>
                <input type="text" class="form-control testUsuariosFormEmail" id="campo3" placeholder="E-mail" ng-model="registroAtual.email">
            </div>
        </div>
    </div>

    <button class="btn btn-warning posLeft" ng-click="voltar()">Voltar</button>

    <button class="btn btn-success posRight testUsuariosFormBtnSalvar" ng-click="salvar()">Salvar</button>
</div>