<h1 class="page-header">
    Usuarios
</h1>

<button class="btn btn-info testUsuariosNovo" ng-click="novo()"><i class="glyphicon glyphicon-plus"></i> Novo</button>

<button class="btn btn-warning testUsuariosEditar" ng-click="editar()" ng-disabled="!(itensSelecionados.length == 1)"><i class="glyphicon glyphicon-pencil"></i> Editar</button>

<button class="btn btn-danger testUsuariosExcluir" ng-click="excluir()" ng-disabled="(itensSelecionados.length == 0)"><i class="glyphicon glyphicon-remove"></i> Excluir</button>

<button class="btn btn-default" ng-click="modalAlterarSenha()" ng-disabled="!(itensSelecionados.length == 1)"><i class="glyphicon glyphicon-link"></i> Alterar Senha</button>

<div style="float: right">

    <multiselect show-select-all="true" show-unselect-all="true" show-search="true" default-text="Filtrar situação" ng-model="filtroSituacao" options="array_situacao" id-prop="id" display-prop="titulo" style="float: left">
    </multiselect>

    <input type="text" ng-model="palavraChave" class="txFiltrar" placeholder="Localizar...">
    <button class="btn btn-default" ng-click="filtrar()" ng-disabled="!(palavraChave.length >= 3 || filtroSituacao.length > 0)"><i class="glyphicon glyphicon-search"></i></button>
    <button class="btn btn-default" ng-click="limpar_filtro()" ng-if="(palavraChave.length >= 3) || (filtroSituacao.length > 0)"><i class="glyphicon glyphicon-ban-circle"></i></button>
</div>

<br/>
<br/>

<img src="images/loading.gif" ng-show="(loading)" class="imgLoading">
<div id="gridUsuarios" ng-show="!(loading)" dx-data-grid="dataGridOptions"></div>