<img src="images/loading.gif" ng-show="(loading)" class="imgLoading">

<div ng-show="!(loading)">
    <h1 class="page-header">
        {{titulo}}
    </h1>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 form-group">
                <label for="campo1">Situação</label>
                <select class="form-control" id="campo1" ng-model="registroAtual.id_situacao" ng-options="itemAtual.id as itemAtual.titulo for itemAtual in array_situacao">
                </select>
            </div>

            <div class="col-md-6 form-group">
                <label for="campo2">E-mail</label>
                <input type="text" class="form-control testAdminFormEmail" id="campo2" placeholder="E-mail" ng-model="registroAtual.email">
            </div>
        </div>
    </div>

    <button class="btn btn-warning posLeft" ng-click="voltar()">Voltar</button>

    <button class="btn btn-default posLeft" ng-show="(permite_alterar_senha)" ng-click="desejaAlterarSenha()">Deseja alterar a senha ?</button>

    <button class="btn btn-success posRight testAdminFormBtnSalvar" ng-click="salvar()">Salvar</button>
</div>