<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
    <h3 class="modal-title">Alteração de Senha</h3>
</div>

<div class="modal-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 form-group">
                <label for="campo1">Senha atual</label>
                <input type="password" class="form-control" id="campo1" placeholder="Senha Atual" ng-model="registroAtual.senha_atual">
            </div>

            <div class="col-md-6 form-group">
                <label for="campo2">Nova senha</label>
                <input type="password" class="form-control" id="campo2" placeholder="Nova Senha" ng-model="registroAtual.nova_senha">
            </div>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button class="btn btn-success" type="button" ng-click="ok()">Salvar</button>
    <button class="btn btn-danger" type="button" ng-click="cancel()">Cancel</button>
</div>