<div class="container pgLogin">
    <div class="panel panel-success">

        <div class="panel-body">
            <img src="images/logotipo.png"/>

            <form class="form-horizontal" role="form">
                <div class="input-group input-username margin15">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input type="text" class="form-control testTextboxEmail" ng-model="email" name="username" placeholder="E-mail" autofocus ng-enter="logar()">
                </div>

                <div class="input-group input-password margin15">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    <input type="password" class="form-control testTextboxSenha" ng-model="senha" name="password" placeholder="Senha" ng-enter="logar()">
                </div>

                <div class="input-group margin15">
                    <div vc-recaptcha key="'6LcGCSYTAAAAAAJitrqt2y4y6nnd01AUvPUWyW8h'" on-create="setWidgetId(widgetId)" on-success="setResponse(response)" on-expire="cbExpiration()"></div>
                </div>

                <div class="form-group login-button">
                    <div class="col-sm-12 controls">
                        <button class="btn btn-warning" ng-click="recuperar_senha()">Esqueci minha senha</button>
                        <button class="btn btn-success testBtnValidar" ng-click="logar()"><i class="glyphicon glyphicon-log-in"></i> Validar</button>
                    </div>
                </div>
            </form>

            <div class="alert alert-success" role="alert" ng-show="isNotBlank(msg_success)">
                <i class="glyphicon glyphicon-ok"></i> {{msg_success}}
            </div>

            <div class="alert alert-danger testErroLogin" role="alert" ng-show="isNotBlank(msg_error)">
                <i class="glyphicon glyphicon-alert"></i> {{msg_error}}
            </div>

        </div>
    </div>
</div>