<div class="container-fluid">

    <div class="row" style="margin-top: 50px">
        <div class="form-group">

            <div class="alert alert-info alert-dismissible" role="alert" ng-repeat="itemAtual in filtragem(listagem_avisos, 0)">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>Informação!</strong> {{itemAtual.titulo}}<br>
                <a ui-sref="extranet.detalhes_avisos({ id: itemAtual.id })">Clique aqui para mais detalhes</a>
            </div>

            <div class="alert alert-warning alert-dismissible" role="alert" ng-repeat="itemAtual in filtragem(listagem_avisos, 1)">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>Aviso!</strong> {{itemAtual.titulo}}<br>
                <a ui-sref="extranet.detalhes_avisos({ id: itemAtual.id })">Clique aqui para mais detalhes</a>
            </div>

            <div class="alert alert-warning alert-dismissible" role="alert" ng-if="(extranet_total_faturas_abertas > 0)">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>Aviso!</strong> Você possui {{extranet_total_faturas_abertas}} mensalidade(s) pendente(s).<br>
                <a ui-sref="extranet.faturas">Clique aqui para mais detalhes</a>
            </div>

            <div class="alert alert-danger alert-dismissible" role="alert" ng-repeat="itemAtual in filtragem(listagem_avisos, 2)">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>Atenção!</strong> {{itemAtual.titulo}}<br>
                <a ui-sref="extranet.detalhes_avisos({ id: itemAtual.id })">Clique aqui para mais detalhes</a>
            </div>

            <div class="alert alert-danger alert-dismissible" role="alert" ng-if="(extranet_total_faturas_atraso > 0)">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>Atenção!</strong> Você possui {{extranet_total_faturas_atraso}} mensalidade(s) em atraso.<br>
                <a ui-sref="extranet.faturas">Clique aqui para mais detalhes</a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 form-group">
            <div id="chartTotalDividas" dx-pie-chart="chart1Options"></div>
        </div>

        <div class="col-md-6 form-group">
            <div id="chartTotalRemessasCartorio" dx-pie-chart="chart2Options"></div>
        </div>
    </div>

    <div class="row">
        <br/>
        <br/>
        <br/>
        <div class="form-group">
            <div id="chartConsumoMensalWS" dx-chart="chartConsumoMensalWSOptions"></div>
        </div>
    </div>

</div>