<div class="container-fluid">
    <div class="row">
        <div class="form-group">
            <div id="chartConsumoMensalWS" dx-chart="chartConsumoMensalWSOptions"></div>
        </div>
    </div>
</div>