<h1 class="page-header">
    Configurações do sistema
</h1>

<uib-tabset active="activeJustified">
    <uib-tab index="0" heading="Empresa">

        <br/>
        <div class="alert alert-warning" role="alert">
            Esta configuração será utilizada exclusivamente no sistema.
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 form-group">
                    <label>Empresa</label>
                    <input type="text" class="form-control" ng-model="registroAtual.empresa_nome">
                </div>
                <div class="col-md-6 form-group">
                    <label>CNPJ</label>
                    <input type="text" class="form-control maskCnpj" ng-model="registroAtual.empresa_cnpj">
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 form-group">
                    <label>Endereço</label>
                    <input type="text" class="form-control" ng-model="registroAtual.empresa_endereco">
                </div>

                <div class="col-md-3 form-group">
                    <label>Estado</label>
                    <select class="form-control" ng-model="registroAtual.empresa_id_estado" ng-options="itemAtual.id as itemAtual.titulo for itemAtual in array_estados" ng-change="filtrarUF()">
                    </select>
                </div>
                <div class="col-md-3 form-group">
                    <label>Município</label>
                    <select class="form-control" ng-model="registroAtual.empresa_id_municipio" ng-options="itemAtual.id as itemAtual.titulo for itemAtual in array_municipios">
                    </select>
                </div>
            </div>
        </div>
    </uib-tab>

    <uib-tab index="1" heading="Envio de e-mails">

        <br/>
        <div class="alert alert-warning" role="alert">
            Esta configuração determina qual e-mail será utilizado para os envios via sistema. <br/>
            Se for mal configurado, o sistema poderá falhar e funcionará de forma incorreta.
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4 form-group">
                    <label>Servidor de envio</label>
                    <input type="text" class="form-control" ng-model="registroAtual.smtp_envio">
                </div>
                <div class="col-md-4 form-group">
                    <label>E-mail de envio</label>
                    <input type="text" class="form-control" ng-model="registroAtual.email_envio">
                </div>
                <div class="col-md-4 form-group">
                    <label>Senha de envio</label>
                    <input type="text" class="form-control" ng-model="registroAtual.senha_envio">
                </div>
            </div>
        </div>
    </uib-tab>

    <uib-tab index="2" heading="Boleto">

        <br/>
        <div class="alert alert-warning" role="alert">
            Esta configuração é utilizada na emissão de boletos via sistema. <br/>
            Se for mal configurado, o sistema poderá falhar e funcionará de forma incorreta.
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3 form-group">
                    <label>Banco</label>
                    <select class="form-control" ng-model="registroAtual.boleto_id_banco" ng-options="itemAtual.id as itemAtual.titulo for itemAtual in array_bancos">
                    </select>
                </div>
                <div class="col-md-3 form-group">
                    <label>Nosso número (Sequencial)</label>
                    <input type="number" class="form-control" ng-model="registroAtual.boleto_numero_sequencial_nosso_numero">
                    </select>
                </div>
                <div class="col-md-3 form-group">
                    <label>Remessa (Sequencial)</label>
                    <input type="number" class="form-control" ng-model="registroAtual.boleto_numero_sequencial_remessa">
                    </select>
                </div>
                <div class="col-md-3 form-group">
                    <label>Carteira</label>
                    <select class="form-control" ng-model="registroAtual.boleto_id_carteira" ng-options="itemAtual.id as itemAtual.titulo for itemAtual in array_carteiras">
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 form-group">
                    <label>Agência</label>
                    <input type="number" class="form-control" ng-model="registroAtual.boleto_agencia">
                </div>
                <div class="col-md-2 form-group">
                    <label>Ag. Digito</label>
                    <input type="number" class="form-control" ng-model="registroAtual.boleto_agencia_digito">
                </div>
                <div class="col-md-2 form-group">
                    <label>Conta Corrente</label>
                    <input type="number" class="form-control" ng-model="registroAtual.boleto_cc">
                </div>
                <div class="col-md-2 form-group">
                    <label>CC Digito</label>
                    <input type="number" class="form-control" ng-model="registroAtual.boleto_cc_digito">
                </div>
                <div class="col-md-2 form-group">
                    <label>Cedente</label>
                    <input type="number" class="form-control" ng-model="registroAtual.boleto_cedente">
                </div>
                <div class="col-md-2 form-group">
                    <label>Cedente Digito</label>
                    <input type="number" class="form-control" ng-model="registroAtual.boleto_cedente_digito">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 form-group">
                    <label>Mensagem 1</label>
                    <input type="text" class="form-control" ng-model="registroAtual.boleto_mensagem1">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 form-group">
                    <label>Mensagem 2</label>
                    <input type="text" class="form-control" ng-model="registroAtual.boleto_mensagem2">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 form-group">
                    <label>Mensagem 3</label>
                    <input type="text" class="form-control" ng-model="registroAtual.boleto_mensagem3">
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 form-group">
                    <label>Valor Desconto</label>
                    <input type="text" class="form-control maskDinheiro" ng-model="registroAtual.boleto_desconto">
                </div>
                <div class="col-md-3 form-group">
                    <label>Valor Abatimento</label>
                    <input type="text" class="form-control maskDinheiro" ng-model="registroAtual.boleto_abatimento">
                </div>
                <div class="col-md-3 form-group">
                    <label>Valor Mora</label>
                    <input type="text" class="form-control maskDinheiro" ng-model="registroAtual.boleto_mora">
                </div>
                <div class="col-md-3 form-group">
                    <label>Valor Multa</label>
                    <input type="text" class="form-control maskDinheiro" ng-model="registroAtual.boleto_multa">
                </div>
            </div>
        </div>
    </uib-tab>

    <uib-tab index="3" heading="Cartório">

        <br/>
        <div class="alert alert-warning" role="alert">
            Esta configuração é utilizada na emissão de remessas para o cartório de protesto via sistema. <br/>
            Se for mal configurado, o sistema poderá falhar e funcionará de forma incorreta.
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 form-group">
                    <label>Portador</label>
                    <input type="text" class="form-control" ng-model="registroAtual.cartorio_portador" maxlength="40">
                </div>
                <div class="col-md-2 form-group">
                    <label>Codigo do portador</label>
                    <input type="text" class="form-control" ng-model="registroAtual.cartorio_cod_portador" maxlength="3">
                </div>
                <div class="col-md-2 form-group">
                    <label>Agência</label>
                    <input type="number" class="form-control" ng-model="registroAtual.cartorio_agencia">
                </div>
                <div class="col-md-2 form-group">
                    <label>Versão do layout</label>
                    <input type="text" class="form-control" ng-model="registroAtual.cartorio_versao_layout" maxlength="3">
                </div>
            </div>

            <div class="row">
                <div class="col-md-4 form-group">
                    <label>Sigla do remetente</label>
                    <input type="text" class="form-control" ng-model="registroAtual.cartorio_sigla_remetente" maxlength="3">
                </div>
                <div class="col-md-4 form-group">
                    <label>Sigla do destinatário</label>
                    <input type="text" class="form-control" ng-model="registroAtual.cartorio_sigla_destinatario" maxlength="3">
                </div>
                <div class="col-md-4 form-group">
                    <label>Sigla da transação</label>
                    <input type="text" class="form-control" ng-model="registroAtual.cartorio_sigla_transacao" maxlength="3">
                </div>
            </div>
        </div>
    </uib-tab>

    <uib-tab index="4" heading="WebService">

        <br/>
        <div class="alert alert-warning" role="alert">
            Esta configuração define as requisições para o WebService PROCOB. <br/>
            Se for mal configurado, o sistema poderá falhar e funcionará de forma incorreta.
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4 form-group">
                    <label>Webservice URL</label>
                    <input type="text" class="form-control" ng-model="registroAtual.ws_url">
                </div>
                <div class="col-md-4 form-group">
                    <label>Webservice Usuário</label>
                    <input type="text" class="form-control" ng-model="registroAtual.ws_usuario">
                </div>
                <div class="col-md-4 form-group">
                    <label>Webservice Senha</label>
                    <input type="text" class="form-control" ng-model="registroAtual.ws_senha">
                </div>
            </div>

            <div class="row">
                <h3>Disponibilizar Consultas</h3>
                <hr style="border-top: 1px solid #EEEEEE;">

                <div class="col-md-3 form-group">
                    <label for="L0001">CPF/CNPJ Completo</label><br>
                    <input toggle-checkbox type="checkbox" id="L0001" ng-model="registroAtual.ws_L0001" data-toggle="toggle" data-on="Ativado" data-off="Desativado" data-onstyle="success" data-offstyle="danger" data-width="110"/>
                </div>

                <div class="col-md-3 form-group">
                    <label for="L0002">CPF/CNPJ por Nome</label><br>
                    <input toggle-checkbox type="checkbox" id="L0002" ng-model="registroAtual.ws_L0002" data-toggle="toggle" data-on="Ativado" data-off="Desativado" data-onstyle="success" data-offstyle="danger" data-width="110"/>
                </div>

                <div class="col-md-3 form-group">
                    <label for="L0003">DDD Telefone</label><br>
                    <input toggle-checkbox type="checkbox" id="L0003" ng-model="registroAtual.ws_L0003" data-toggle="toggle" data-on="Ativado" data-off="Desativado" data-onstyle="success" data-offstyle="danger" data-width="110"/>
                </div>

                <div class="col-md-3 form-group">
                    <label for="L0004">Lista Telefonica 2</label><br>
                    <input toggle-checkbox type="checkbox" id="L0004" ng-model="registroAtual.ws_L0004" data-toggle="toggle" data-on="Ativado" data-off="Desativado" data-onstyle="success" data-offstyle="danger" data-width="110"/>
                </div>

                <div class="col-md-3 form-group">
                    <label for="L0006">Quadro Societário</label><br>
                    <input toggle-checkbox type="checkbox" id="L0006" ng-model="registroAtual.ws_L0006" data-toggle="toggle" data-on="Ativado" data-off="Desativado" data-onstyle="success" data-offstyle="danger" data-width="110"/>
                </div>

                <div class="col-md-3 form-group">
                    <label for="L0007">Infobusca</label><br>
                    <input toggle-checkbox type="checkbox" id="L0007" ng-model="registroAtual.ws_L0007" data-toggle="toggle" data-on="Ativado" data-off="Desativado" data-onstyle="success" data-offstyle="danger" data-width="110"/>
                </div>

                <div class="col-md-3 form-group">
                    <label for="L0008">Perfil CNPJ</label><br>
                    <input toggle-checkbox type="checkbox" id="L0008" ng-model="registroAtual.ws_L0008" data-toggle="toggle" data-on="Ativado" data-off="Desativado" data-onstyle="success" data-offstyle="danger" data-width="110"/>
                </div>

                <div class="col-md-3 form-group">
                    <label for="L0011">Perfil Socio Economico</label><br>
                    <input toggle-checkbox type="checkbox" id="L0011" ng-model="registroAtual.ws_L0011" data-toggle="toggle" data-on="Ativado" data-off="Desativado" data-onstyle="success" data-offstyle="danger" data-width="110"/>
                </div>

                <div class="col-md-3 form-group">
                    <label for="L0014">Situação Receita</label><br>
                    <input toggle-checkbox type="checkbox" id="L0014" ng-model="registroAtual.ws_L0014" data-toggle="toggle" data-on="Ativado" data-off="Desativado" data-onstyle="success" data-offstyle="danger" data-width="110"/>
                </div>

                <div class="col-md-3 form-group">
                    <label for="L0015">Endereço Completo</label><br>
                    <input toggle-checkbox type="checkbox" id="L0015" ng-model="registroAtual.ws_L0015" data-toggle="toggle" data-on="Ativado" data-off="Desativado" data-onstyle="success" data-offstyle="danger" data-width="110"/>
                </div>

                <div class="col-md-3 form-group">
                    <label for="L0022">Parentes</label><br>
                    <input toggle-checkbox type="checkbox" id="L0022" ng-model="registroAtual.ws_L0022" data-toggle="toggle" data-on="Ativado" data-off="Desativado" data-onstyle="success" data-offstyle="danger" data-width="110"/>
                </div>

                <div class="col-md-3 form-group">
                    <label for="L0024">Pessoas de Contato</label><br>
                    <input toggle-checkbox type="checkbox" id="L0024" ng-model="registroAtual.ws_L0024" data-toggle="toggle" data-on="Ativado" data-off="Desativado" data-onstyle="success" data-offstyle="danger" data-width="110"/>
                </div>

                <div class="col-md-3 form-group">
                    <label for="L0029">Geomarketing</label><br>
                    <input toggle-checkbox type="checkbox" id="L0029" ng-model="registroAtual.ws_L0029" data-toggle="toggle" data-on="Ativado" data-off="Desativado" data-onstyle="success" data-offstyle="danger" data-width="110"/>
                </div>

                <div class="col-md-3 form-group">
                    <label for="L0030">Empresas em que Trabalhou</label><br>
                    <input toggle-checkbox type="checkbox" id="L0030" ng-model="registroAtual.ws_L0030" data-toggle="toggle" data-on="Ativado" data-off="Desativado" data-onstyle="success" data-offstyle="danger" data-width="110"/>
                </div>

                <div class="col-md-3 form-group">
                    <label for="L0032">Dados Gerais</label><br>
                    <input toggle-checkbox type="checkbox" id="L0032" ng-model="registroAtual.ws_L0032" data-toggle="toggle" data-on="Ativado" data-off="Desativado" data-onstyle="success" data-offstyle="danger" data-width="110"/>
                </div>

                <div class="col-md-3 form-group">
                    <label for="L0033">Número do Benefício</label><br>
                    <input toggle-checkbox type="checkbox" id="L0033" ng-model="registroAtual.ws_L0033" data-toggle="toggle" data-on="Ativado" data-off="Desativado" data-onstyle="success" data-offstyle="danger" data-width="110"/>
                </div>

                <div class="col-md-3 form-group">
                    <label for="L0035">CPF/CNPJ pelo Email</label><br>
                    <input toggle-checkbox type="checkbox" id="L0035" ng-model="registroAtual.ws_L0035" data-toggle="toggle" data-on="Ativado" data-off="Desativado" data-onstyle="success" data-offstyle="danger" data-width="110"/>
                </div>

                <div class="col-md-3 form-group">
                    <label for="L0038">Vizinhos</label><br>
                    <input toggle-checkbox type="checkbox" id="L0038" ng-model="registroAtual.ws_L0038" data-toggle="toggle" data-on="Ativado" data-off="Desativado" data-onstyle="success" data-offstyle="danger" data-width="110"/>
                </div>

                <div class="col-md-3 form-group">
                    <label for="L0039">Residentes no Mesmo Domicílio</label><br>
                    <input toggle-checkbox type="checkbox" id="L0039" ng-model="registroAtual.ws_L0039" data-toggle="toggle" data-on="Ativado" data-off="Desativado" data-onstyle="success" data-offstyle="danger" data-width="110"/>
                </div>

                <div class="col-md-3 form-group">
                    <label for="L0041">Emails</label><br>
                    <input toggle-checkbox type="checkbox" id="L0041" ng-model="registroAtual.ws_L0041" data-toggle="toggle" data-on="Ativado" data-off="Desativado" data-onstyle="success" data-offstyle="danger" data-width="110"/>
                </div>

                <div class="col-md-3 form-group">
                    <label for="L0059">Pesquisa Telefones</label><br>
                    <input toggle-checkbox type="checkbox" id="L0059" ng-model="registroAtual.ws_L0059" data-toggle="toggle" data-on="Ativado" data-off="Desativado" data-onstyle="success" data-offstyle="danger" data-width="110"/>
                </div>

                <div class="col-md-3 form-group">
                    <label for="L0064">Vinculos no Mesmo Endereço</label><br>
                    <input toggle-checkbox type="checkbox" id="L0064" ng-model="registroAtual.ws_L0064" data-toggle="toggle" data-on="Ativado" data-off="Desativado" data-onstyle="success" data-offstyle="danger" data-width="110"/>
                </div>

                <div class="col-md-3 form-group">
                    <label for="L0066">Procob DataMatch</label><br>
                    <input toggle-checkbox type="checkbox" id="L0066" ng-model="registroAtual.ws_L0066" data-toggle="toggle" data-on="Ativado" data-off="Desativado" data-onstyle="success" data-offstyle="danger" data-width="110"/>
                </div>

                <div class="col-md-3 form-group">
                    <label for="L0067">Perfil Socio Economico Completo</label><br>
                    <input toggle-checkbox type="checkbox" id="L0067" ng-model="registroAtual.ws_L0067" data-toggle="toggle" data-on="Ativado" data-off="Desativado" data-onstyle="success" data-offstyle="danger" data-width="110"/>
                </div>

                <div class="col-md-3 form-group">
                    <label for="L0068">Outros Documentos</label><br>
                    <input toggle-checkbox type="checkbox" id="L0068" ng-model="registroAtual.ws_L0068" data-toggle="toggle" data-on="Ativado" data-off="Desativado" data-onstyle="success" data-offstyle="danger" data-width="110"/>
                </div>

                <hr style="border-top: 1px solid #EEEEEE;">

                <div class="col-md-3 form-group">
                    <label for="R0001">Crednet</label><br>
                    <input toggle-checkbox type="checkbox" id="R0001" ng-model="registroAtual.ws_R0001" data-toggle="toggle" data-on="Ativado" data-off="Desativado" data-onstyle="success" data-offstyle="danger" data-width="110"/>
                </div>

                <div class="col-md-3 form-group">
                    <label for="R0002">Cheque Plus</label><br>
                    <input toggle-checkbox type="checkbox" id="R0002" ng-model="registroAtual.ws_R0002" data-toggle="toggle" data-on="Ativado" data-off="Desativado" data-onstyle="success" data-offstyle="danger" data-width="110"/>
                </div>

                <div class="col-md-3 form-group">
                    <label for="R0014">Concentre</label><br>
                    <input toggle-checkbox type="checkbox" id="R0014" ng-model="registroAtual.ws_R0014" data-toggle="toggle" data-on="Ativado" data-off="Desativado" data-onstyle="success" data-offstyle="danger" data-width="110"/>
                </div>

                <div class="col-md-3 form-group">
                    <label for="R0016">Credito Bureau</label><br>
                    <input toggle-checkbox type="checkbox" id="R0016" ng-model="registroAtual.ws_R0016" data-toggle="toggle" data-on="Ativado" data-off="Desativado" data-onstyle="success" data-offstyle="danger" data-width="110"/>
                </div>

                <div class="col-md-3 form-group">
                    <label for="R0019">Relato</label><br>
                    <input toggle-checkbox type="checkbox" id="R0019" ng-model="registroAtual.ws_R0019" data-toggle="toggle" data-on="Ativado" data-off="Desativado" data-onstyle="success" data-offstyle="danger" data-width="110"/>
                </div>

            </div>
        </div>
    </uib-tab>

    <uib-tab index="5" heading="Recursos do sistema">

        <br/>
        <div class="alert alert-warning" role="alert">
            Se for mal configurado, o sistema poderá falhar e funcionará de forma incorreta.
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4 form-group">
                    <label>Itens exibidos na listagem (10 - 500)</label>
                    <input type="number" class="form-control" ng-model="registroAtual.qtd_itens_listagem" min="10" max="500">
                </div>

                <div class="col-md-4 form-group">
                    <label>Exibir gráfico dos últimos meses (1 - 5)</label>
                    <input type="number" class="form-control" ng-model="registroAtual.exibir_grafico_ultimos_meses" min="1" max="5">
                </div>

                <div class="col-md-4 form-group">
                    <label for="campo130">Exibir total de registro no menu</label><br>
                    <input toggle-checkbox type="checkbox" id="campo130" ng-model="registroAtual.exibir_total_registro_menu" data-toggle="toggle" data-on="Ativado" data-off="Desativado" data-onstyle="success" data-offstyle="danger" data-width="110"/>
                </div>
            </div>
        </div>
    </uib-tab>

</uib-tabset>

<div class="row">
    <div class="form-group">
        <button class="btn btn-success posRight" ng-click="salvar()"><i class="glyphicon glyphicon-floppy-disk"></i> Salvar</button>
    </div>
</div>
