<div id="wrapper">
    <div id="sidebar-wrapper" class="fonteMenu">

        <ul class="sidebar-nav" ng-if="(usuarioLogado.id_tipo == 0)">
            <li class="sidebar-brand">
                <h1>E-Protesto</h1>
            </li>
            <li class="testLinkExtranetPrincipal {{ ($state.current.url == 'principal')? 'menuSelecionado' : '' }}">
                <a ui-sref="extranet.principal">Principal</a>
            </li>
            <li class="testLinkExtranetUsuarios {{ ($state.current.name == 'extranet.usuarios' || $state.current.name == 'extranet.detalhes_usuarios')? 'menuSelecionado' : '' }}">
                <a ui-sref="extranet.usuarios">Usuarios <span ng-if="(exibirTotalRegistroMenu) && (extranet_total_usuarios> 0)" class="badge badgeMenu">{{extranet_total_usuarios}}</span></a>
            </li>
            <li class="testLinkExtranetDevedores {{ ($state.current.name == 'extranet.devedores' || $state.current.name == 'extranet.detalhes_devedores')? 'menuSelecionado' : '' }}">
                <a ui-sref="extranet.devedores">Devedores <span ng-if="(exibirTotalRegistroMenu) && (extranet_total_devedores > 0)" class="badge badgeMenu">{{extranet_total_devedores}}</span></a>
            </li>
            <li>
                <a class="pointer" ng-click="toogleDividas()">Gerenciar Dívidas <span ng-if="(exibirTotalRegistroMenu) && ((extranet_total_dividas + extranet_total_dividas_remessa_cartorio) > 0)" class="badge badgeMenu">{{extranet_total_dividas + extranet_total_dividas_remessa_cartorio}}</span></a>
                <ul ng-show="subMenuDividas">
                    <li class="{{ ($state.current.name == 'extranet.dividas' || $state.current.name == 'extranet.detalhes_dividas')? 'menuSelecionado' : '' }}">
                        <a ui-sref="extranet.dividas">Registros de Dívidas <span ng-if="(exibirTotalRegistroMenu) && (extranet_total_dividas > 0)" class="badge badgeMenu">{{extranet_total_dividas}}</span></a>
                    </li>
                    <li class="{{ ($state.current.name == 'extranet.dividas_remessa_cartorio')? 'menuSelecionado' : '' }}">
                        <a ui-sref="extranet.dividas_remessa_cartorio">Registros em Cartório <span ng-if="(exibirTotalRegistroMenu) && (extranet_total_dividas_remessa_cartorio > 0)" class="badge badgeMenu">{{extranet_total_dividas_remessa_cartorio}}</span></a>
                    </li>
                </ul>
            </li>
            <li>
                <a class="pointer" ng-click="toogleLayouts()">Gerenciar Layouts <span ng-if="(exibirTotalRegistroMenu) && ((extranet_total_layouts + extranet_total_layouts_importados) > 0)" class="badge badgeMenu">{{extranet_total_layouts + extranet_total_layouts_importados}}</span></a>
                <ul ng-show="subMenuLayouts">
                    <li class="{{ ($state.current.name == 'extranet.layouts' || $state.current.name == 'extranet.detalhes_layouts')? 'menuSelecionado' : '' }}">
                        <a ui-sref="extranet.layouts">Modelos de Layouts <span ng-if="(exibirTotalRegistroMenu) && (extranet_total_layouts > 0)" class="badge badgeMenu">{{extranet_total_layouts}}</span></a>
                    </li>
                    <li class="{{ ($state.current.name == 'extranet.layouts_importados')? 'menuSelecionado' : '' }}">
                        <a ui-sref="extranet.layouts_importados">Layouts Importados <span ng-if="(exibirTotalRegistroMenu) && (extranet_total_layouts_importados > 0)" class="badge badgeMenu">{{extranet_total_layouts_importados}}</span></a>
                    </li>
                </ul>
            </li>
            <li ng-show="existeServicosDisponiveis">
                <a class="pointer" ng-click="toogleServicosDisponiveis()">Serviços Disponíveis <span ng-if="(exibirTotalRegistroMenu) && (extranet_total_servicos_disponiveis > 0)" class="badge badgeMenu">{{extranet_total_servicos_disponiveis}}</span></a>
                <ul ng-show="subMenuServicosDisponiveis">
                    <li ng-repeat="servicosDisp in listagemServicosDisponiveis" class="{{ ($state.current.name.indexOf('extranet.servicos_disponiveis') > -1 && $state.params.id_servico == servicosDisp.id_servico)? 'menuSelecionado' : '' }}">
                        <a ng-click="exibirServicosDisponiveis(servicosDisp)" style="font-size: 15px">{{servicosDisp.servico}}</a>
                    </li>
                </ul>
            </li>
            <li class="{{ ($state.current.name == 'extranet.avisos' || $state.current.name == 'extranet.detalhes_avisos')? 'menuSelecionado' : '' }}">
                <a ui-sref="extranet.avisos">Avisos <span ng-if="(exibirTotalRegistroMenu) && (extranet_total_avisos > 0)" class="badge badgeMenu">{{extranet_total_avisos}}</span></a>
            </li>
            <li class="{{ ($state.current.name == 'extranet.configuracoes')? 'menuSelecionado' : '' }}">
                <a ui-sref="extranet.configuracoes">Configurações</a>
            </li>
            <li>
                <a class="pointer testBtnSairExtranet" ng-click="sair()">Sair</a>
            </li>
            <li>
                <hr>
            </li>
            <li class="{{ ($state.current.name == 'extranet.faturas' || $state.current.name == 'extranet.taxas_faturas')? 'menuSelecionado' : '' }}">
                <a ui-sref="extranet.faturas">Minhas faturas <span ng-if="(exibirTotalRegistroMenu) && (extranet_total_faturas_abertas > 0)" class="badge badgeMenu">{{extranet_total_faturas_abertas}}</span></a>
            </li>
            <li class="{{ ($state.current.name == 'extranet.contatos' || $state.current.name == 'extranet.detalhes_contatos')? 'menuSelecionado' : '' }}">
                <a ui-sref="extranet.contatos">Fale Conosco <span ng-if="(exibirTotalRegistroMenu) && (extranet_total_contatos > 0)" class="badge badgeMenu">{{extranet_total_contatos}}</span></a>
            </li>
            <li>
                <a ui-sref="extranet.minha_conta">Minha conta</a>
            </li>
        </ul>

        <ul class="sidebar-nav" ng-if="(usuarioLogado.id_tipo == 1)">
            <li class="sidebar-brand">
                <h1>E-Protesto</h1>
            </li>
            <li class="testLinkIntranetPrincipal {{ ($state.current.url == 'principal')? 'menuSelecionado' : '' }}">
                <a ui-sref="intranet.principal">Principal</a>
            </li>
            <li class="testLinkIntranetAdministradores {{ ($state.current.name == 'intranet.administradores' || $state.current.name == 'intranet.detalhes_administradores')? 'menuSelecionado' : '' }}">
                <a ui-sref="intranet.administradores">Administradores <span ng-if="(exibirTotalRegistroMenu) && (intranet_total_administradores > 0)" class="badge badgeMenu">{{intranet_total_administradores}}</span></a>
            </li>
            <li class="testLinkIntranetServicos {{ ($state.current.name == 'intranet.servicos' || $state.current.name == 'intranet.detalhes_servicos')? 'menuSelecionado' : '' }}">
                <a ui-sref="intranet.servicos">Serviços <span ng-if="(exibirTotalRegistroMenu) && (intranet_total_servicos > 0)" class="badge badgeMenu">{{intranet_total_servicos}}</span></a>
            </li>
            <li class="{{ ($state.current.name == 'intranet.clientes' || $state.current.name == 'intranet.detalhes_clientes')? 'menuSelecionado' : '' }}">
                <a ui-sref="intranet.clientes">Clientes <span ng-if="(exibirTotalRegistroMenu) && (intranet_total_clientes > 0)" class="badge badgeMenu">{{intranet_total_clientes}}</span></a>
            </li>
            <li class="{{ ($state.current.name == 'intranet.contratos' || $state.current.name == 'intranet.detalhes_contratos' || $state.current.name == 'intranet.itens_contratos' || $state.current.name == 'intranet.detalhes_itens_contratos')? 'menuSelecionado' : '' }}">
                <a ui-sref="intranet.contratos">Contratos <span ng-if="(exibirTotalRegistroMenu) && (intranet_total_contratos > 0)" class="badge badgeMenu">{{intranet_total_contratos}}</span></a>
            </li>
            <li class="{{ ($state.current.name == 'intranet.mensalidades' || $state.current.name == 'intranet.detalhes_mensalidades' || $state.current.name == 'intranet.taxas_mensalidades' || $state.current.name == 'intranet.detalhes_taxas_mensalidades')? 'menuSelecionado' : '' }}">
                <a ui-sref="intranet.mensalidades">Mensalidades <span ng-if="(exibirTotalRegistroMenu) && (intranet_total_mensalidades > 0)" class="badge badgeMenu">{{intranet_total_mensalidades}}</span></a>
            </li>
            <li class="{{ ($state.current.name == 'intranet.taxas' || $state.current.name == 'intranet.detalhes_taxas')? 'menuSelecionado' : '' }}">
                <a ui-sref="intranet.taxas">Taxas <span ng-if="(exibirTotalRegistroMenu) && (intranet_total_taxas > 0)" class="badge badgeMenu">{{intranet_total_taxas}}</span></a>
            </li>
            <li class="testLinkIntranetConfig {{ ($state.current.name == 'intranet.config')? 'menuSelecionado' : '' }}">
                <a ui-sref="intranet.config">Configuraçoes</a>
            </li>
            <li>
                <hr>
            </li>
            <li class="{{ ($state.current.name == 'extranet.usuarios' || $state.current.name == 'extranet.detalhes_usuarios')? 'menuSelecionado' : '' }}">
                <a ui-sref="extranet.usuarios">Usuarios <span ng-if="(exibirTotalRegistroMenu) && (extranet_total_usuarios > 0)" class="badge badgeMenu">{{extranet_total_usuarios}}</span></a>
            </li>
            <li class="{{ ($state.current.name == 'extranet.devedores' || $state.current.name == 'extranet.detalhes_devedores')? 'menuSelecionado' : '' }}">
                <a ui-sref="extranet.devedores">Devedores <span ng-if="(exibirTotalRegistroMenu) && (extranet_total_devedores > 0)" class="badge badgeMenu">{{extranet_total_devedores}}</span></a>
            </li>
            <li>
                <a class="pointer" ng-click="toogleDividas()">Gerenciar Dívidas <span ng-if="(exibirTotalRegistroMenu) && ((intranet_total_dividas + intranet_total_dividas_remessa_cartorio + intranet_total_dividas_remessa_banco) > 0)" class="badge badgeMenu">{{intranet_total_dividas + intranet_total_dividas_remessa_cartorio + intranet_total_dividas_remessa_banco}}</span></a>
                <ul ng-show="subMenuDividas">
                    <li class="{{ ($state.current.name == 'extranet.dividas' || $state.current.name == 'extranet.detalhes_dividas')? 'menuSelecionado' : '' }}">
                        <a ui-sref="extranet.dividas">Registros de Dívidas <span ng-if="(exibirTotalRegistroMenu) && (intranet_total_dividas > 0)" class="badge badgeMenu">{{intranet_total_dividas}}</span></a>
                    </li>
                    <li class="{{ ($state.current.name == 'intranet.dividas_remessa_banco')? 'menuSelecionado' : '' }}">
                        <a ui-sref="intranet.dividas_remessa_banco">Remessas do Banco <span ng-if="(exibirTotalRegistroMenu) && (intranet_total_dividas_remessa_banco > 0)" class="badge badgeMenu">{{intranet_total_dividas_remessa_banco}}</span></a>
                    </li>
                    <li class="{{ ($state.current.name == 'extranet.dividas_remessa_cartorio')? 'menuSelecionado' : '' }}">
                        <a ui-sref="extranet.dividas_remessa_cartorio">Remessas do Cartório <span ng-if="(exibirTotalRegistroMenu) && (intranet_total_dividas_remessa_cartorio > 0)" class="badge badgeMenu">{{intranet_total_dividas_remessa_cartorio}}</span></a>
                    </li>
                </ul>
            </li>
            <li>
                <a class="pointer" ng-click="toogleLayouts()">Gerenciar Layouts <span ng-if="(exibirTotalRegistroMenu) && ((extranet_total_layouts + extranet_total_layouts_importados) > 0)" class="badge badgeMenu">{{extranet_total_layouts + extranet_total_layouts_importados}}</span></a>
                <ul ng-show="subMenuLayouts">
                    <li class="{{ ($state.current.name == 'extranet.layouts' || $state.current.name == 'extranet.detalhes_layouts')? 'menuSelecionado' : '' }}">
                        <a ui-sref="extranet.layouts">Modelos de Layouts <span ng-if="(exibirTotalRegistroMenu) && (extranet_total_layouts > 0)" class="badge badgeMenu">{{extranet_total_layouts}}</span></a>
                    </li>
                    <li class="{{ ($state.current.name == 'extranet.layouts_importados')? 'menuSelecionado' : '' }}">
                        <a ui-sref="extranet.layouts_importados">Layouts Importados <span ng-if="(exibirTotalRegistroMenu) && (extranet_total_layouts_importados > 0)" class="badge badgeMenu">{{extranet_total_layouts_importados}}</span></a>
                    </li>
                </ul>
            </li>
            <li class="{{ ($state.current.name == 'extranet.contatos' || $state.current.name == 'extranet.detalhes_contatos')? 'menuSelecionado' : '' }}">
                <a ui-sref="extranet.contatos">Fale Conosco <span ng-if="(exibirTotalRegistroMenu) && (extranet_total_contatos > 0)" class="badge badgeMenu">{{extranet_total_contatos}}</span></a>
            </li>
            <li>
                <hr>
            </li>
            <li>
                <a class="pointer testBtnSairIntranet" ng-click="sair()">Sair</a>
            </li>
        </ul>

    </div>

    <div id="page-content-wrapper">
        <a href="#menu-toggle" class="btn btn-default" id="menu-toggle" ng-click="toogleMenu()" style="position: fixed; top: 20px; z-index: 999;">
            <span class="glyphicon glyphicon-th-list"></span>
        </a>

        <div ui-view></div>
    </div>
</div>

<script>
    jQuery("#menu-toggle").click(function (e) {
        e.preventDefault();
        jQuery("#wrapper").toggleClass("toggled");
    });
</script>