<h1 class="page-header">
    Configurações do sistema
</h1>

<uib-tabset active="activeJustified">
    <uib-tab index="0" heading="Boleto">

        <br/>
        <div class="alert alert-warning" role="alert">
            Esta configuração é utilizada na emissão de boletos via sistema. <br/>
            Se for mal configurado, o sistema poderá falhar e funcionará de forma incorreta.
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 form-group">
                    <label>Mensagem 1</label>
                    <input type="text" class="form-control" ng-model="registroAtual.boleto_mensagem1">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 form-group">
                    <label>Mensagem 2</label>
                    <input type="text" class="form-control" ng-model="registroAtual.boleto_mensagem2">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 form-group">
                    <label>Mensagem 3</label>
                    <input type="text" class="form-control" ng-model="registroAtual.boleto_mensagem3">
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 form-group">
                    <label>Valor Desconto</label>
                    <input type="text" class="form-control maskDinheiro" ng-model="registroAtual.boleto_desconto">
                </div>
                <div class="col-md-3 form-group">
                    <label>Valor Abatimento</label>
                    <input type="text" class="form-control maskDinheiro" ng-model="registroAtual.boleto_abatimento">
                </div>
                <div class="col-md-3 form-group">
                    <label>Valor Mora</label>
                    <input type="text" class="form-control maskDinheiro" ng-model="registroAtual.boleto_mora">
                </div>
                <div class="col-md-3 form-group">
                    <label>Valor Multa</label>
                    <input type="text" class="form-control maskDinheiro" ng-model="registroAtual.boleto_multa">
                </div>
            </div>
        </div>
    </uib-tab>

</uib-tabset>

<div class="row">
    <div class="form-group">
        <button class="btn btn-success posRight" ng-click="salvar()"><i class="glyphicon glyphicon-floppy-disk"></i> Salvar</button>
    </div>
</div>
