<h1 class="page-header">
    Layouts
</h1>

<button class="btn btn-info" ng-if="habilitarBtn" ng-click="novo()"><i class="glyphicon glyphicon-plus"></i> Novo</button>

<button class="btn btn-warning" ng-if="habilitarBtn" ng-click="editar()" ng-disabled="!(itensSelecionados.length == 1)"><i class="glyphicon glyphicon-pencil"></i> Editar</button>

<button class="btn btn-danger" ng-if="habilitarBtn" ng-click="excluir()" ng-disabled="(itensSelecionados.length == 0)"><i class="glyphicon glyphicon-remove"></i> Excluir</button>

<button class="btn btn-default" ng-click="downloadArquivo()" ng-disabled="!(itensSelecionados.length == 1)"><i class="glyphicon glyphicon-download-alt"></i> Download</button>

<div style="float: right">
    <input type="text" ng-model="palavraChave" class="txFiltrar" placeholder="Localizar...">
    <button class="btn btn-default" ng-click="filtrar()" ng-disabled="!(palavraChave.length >= 3 || filtroSituacao.length > 0)"><i class="glyphicon glyphicon-search"></i></button>
    <button class="btn btn-default" ng-click="limpar_filtro()" ng-if="(palavraChave.length >= 3) || (filtroSituacao.length > 0)"><i class="glyphicon glyphicon-ban-circle"></i></button>
</div>

<br/>
<br/>

<img src="images/loading.gif" ng-show="(loading)" class="imgLoading">
<div id="gridLayouts" ng-show="!(loading)" dx-data-grid="dataGridOptions"></div>